<form method="POST" action="{{formUrl}}">
	<label>
		Category Name
	</label>
	<input type="hidden" name="id" value={{id}}>
	<input type="text" id="name" name="name" value={{name}}></input>
	<button value="submit">submit</button>
</form>